standard/minipika-configruation-standard.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3school.com.cn"
           xmlns="http://www.w3school.com.cn" elementFormDefault="qualified">

  <xs:element name="minipika">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="properties" type="xs:element"/>
        <xs:element name="datasources" type="xs:element"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="master" type="xs:element"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
